# Lists in Python

In [166]:
#List creation
new_list = []
new_list1 = list()
print(new_list)
print(new_list1)

[]
[]

In [167]:
#Type of list
type(new_list)

list

In [168]:
#List of numbers
nums = [1, 2, 3, 4, 5]
nums1 = list((10, 15, 20))

print(type(nums))
print(type(nums1))

<class 'list'>
<class 'list'>

In [169]:
#List of strings
str_list = ["blue", "red", "yellow"]
print(str_list)

['blue', 'red', 'yellow']

In [170]:
#Muliple types in a list
mixed_list = ["Blue", True, 1, 3.5]
print("The mixed list:", mixed_list)

The mixed list: ['Blue', True, 1, 3.5]

In [171]:
#List in a list
nums = [1, 2, [3, 3.1, 3.5], 4, 5]
print(nums)

[1, 2, [3, 3.1, 3.5], 4, 5]

In [172]:
#Accessing list items with the index number
print(nums[0])
print(nums[1])
print(nums[2])

1
2
[3, 3.1, 3.5]

In [173]:
#Knowing the number of items in list
len(nums)

5

In [174]:
nums[0:3]

[1, 2, [3, 3.1, 3.5]]

In [175]:
nums[:3]

[1, 2, [3, 3.1, 3.5]]

In [176]:
nums[3:]

[4, 5]

In [177]:
print(nums[-1])
print(nums[-2])

5
4

In [178]:
colors = ["red", "black", "white"]

In [179]:
"white" in colors

True

In [180]:
"blue" not in colors

True

In [181]:
colors.append("yellow")

In [182]:
print(colors)

['red', 'black', 'white', 'yellow']

In [183]:
colors.insert(2, "green")

In [184]:
colors

['red', 'black', 'green', 'white', 'yellow']

In [185]:
colors.pop(3)

'white'

In [186]:
colors

['red', 'black', 'green', 'yellow']

In [187]:
colors.extend(["indigo", "orange"])

In [188]:
colors

['red', 'black', 'green', 'yellow', 'indigo', 'orange']

In [189]:
del colors[0]

In [190]:
colors

['black', 'green', 'yellow', 'indigo', 'orange']

# Tuples in Python

In [191]:
nums = tuple((1, 2, 3, 4, 5))
nums1 = (1, 2, 3, 4, 5, 6, 7, 8)

In [192]:
print(type(nums))
print(type(nums1))

<class 'tuple'>
<class 'tuple'>

In [193]:
type(nums)

tuple

In [194]:
len(nums1)

8

In [195]:
nums1[0]

1

In [196]:
nums1[0:3]

(1, 2, 3)

In [197]:
nums[1] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
new_fruits = tuple(("Orange", "Cherry", "Lemon"))

In [ ]:
"Orange" in new_fruits

In [ ]:
"Cherry" not in new_fruits

In [ ]:
del new_fruits

In [ ]:
new_fruits

# Dictionaries Data Structure

In [198]:
new_D = {"Ronaldo": 36, "Messi": 34, "Salah": 27}
new_D1 = dict({'Dany': 33, 'Sane': 24, 'Sam': 30})

In [199]:
print(type(new_D))
print(type(new_D1))

<class 'dict'>
<class 'dict'>

In [200]:
#Sequence of tuples
children = dict({
    ("Child1", "5"),
    ("Child2", "6"),
    ("Child3", "7"),
})

In [201]:
type(children)

dict

In [202]:
new_D["Messi"]

34

In [203]:
new_D["Messi"] = "35"

In [204]:
new_D

{'Ronaldo': 36, 'Messi': '35', 'Salah': 27}

In [205]:
del new_D["Messi"]

In [206]:
new_D

{'Ronaldo': 36, 'Salah': 27}

In [207]:
"Messi" in new_D

False

# Set Data Structure

In [208]:
set_nums = set((2, 4, 6, 8, 10))
set_nums1 = {1, 2, 3, 4, 5, 6}

In [209]:
print(type(set_nums))
print(type(set_nums1))

<class 'set'>
<class 'set'>

In [210]:
set('Python')

{'P', 'h', 'n', 'o', 't', 'y'}

In [211]:
x = set({1: "name", 2: "age"})

In [212]:
type(x)

set

In [213]:
del x

In [214]:
x

NameError: name 'x' is not defined